section{
    display: flex;
    justify-content: space-between;
}
.second {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rosybrown;
    width: 300px;
    padding: 10px;
}
.second a{
    flex-basis: 95px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #20b64b;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transform: scale(1);
}
.second a:hover{
    transform: scale(0.95);
}
.second a span{
    text-align: center;
}
.box{
    
    width: auto;
    height: auto;
}

